<h1> Update password </h1>
<%= form_with model: Current.user, url: edit_password_path, data: { turbo: false} do |form| %>
    <%= render "shared/formerrors", form: form %>
    <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control", id: "exampleFormControlInput2", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "confirm password" %>
    </div>

    <%= form.submit "Update Password", class:"btn" %>
<% end %>